@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@import './button.css';
@import './fonts.css';
@import './text.css';
@import './_apply.css';
